@page "/"
@inherits HomeBase

<div class="portfolio-container">
    <LoaderPage IsVisible="@IsVisible"/>

    <!-- Top Bar -->
     <TopBarPage />

    <!-- Hero Section -->
    <HeroSectionPage />

    <Leo.Project.Portfolio.Web.Pages.About.AboutPage />
    <!-- Portfolio Gallery -->
    <GalleryPage />

    <!-- Footer -->
    <FooterPage />

</div>
