<footer class="footer">
    <div class="container">
        <p class="m-0">&copy; @(DateTime.Now.Year) LG Dev Software. All Rights Reserved.</p>
        <p>Powered by Microsoft Blazor & MudBlazor.</p>
    </div>
</footer>