

<section id="about">
    <div class="container about-me-small my-5">
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h5" Class="my-4 fw-bold">About me</MudText>
                <MudText Typo="Typo.body2">I am a qualified web developer with @((DateTime.Now.Year - 2020))+ years of experience in .Net Blazor (Web and Hybrid-MAUI). Skilled in both front-end and back-end technologies like C#, Blazor, .Net Core, SQL Server, HTML, and CSS. I'm passionate about building responsive websites and continuously learning new technologies to grow my expertise.</MudText>
            </MudCardContent>
            @*  <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
        </MudCardActions> *@
        </MudCard>
    </div>
</section>
 