
<section id="contact" class="contact mb-10">
    <div class="container">
        <h2>Contact</h2>
        <MudGrid>

            <MudItem xs="12" sm="6" lg="3" md="6" Style="border-radius: 10px;">
                <div class="contact-card">
                    <div class="banner"></div>
                    <div class="contact-info">
                        @* <h3>John Doe</h3> *@
                        <div class="mt-4">
                            <MudLink Href="https://www.linkedin.com/in/leo-ganas-468b50212/" Target="_blank" Typo="Typo.h6">View Profile</MudLink>
                        </div>
                        <p>Leo Ganas</p>
                    </div>
                </div>
            </MudItem>
            <MudItem xs="12" sm="6" lg="3" md="6" Style="border-radius: 10px;">
                <div class="contact-card">
                    <div class="banner-upwork"></div>
                    <div class="contact-info">
                        @* <h3>John Doe</h3> *@
                        <div class="mt-4">
                            <MudLink Href="https://www.upwork.com/freelancers/~016297b0547fe38cce?mp_source=share" Target="_blank" Typo="Typo.h6">View Profile</MudLink>
                        </div>
                        <p>Leo Ganas</p>
                    </div>
                </div>
            </MudItem>
            <MudItem xs="12" sm="6" lg="3" md="6" Style="border-radius: 10px;">
                <div class="contact-card">
                    <div class="banner-whatsup"></div>
                    <div class="contact-info">
                        @* <h3>John Doe</h3> *@
                        <div class="mt-4">
                            <MudLink Href="https://wa.me/+639161452948" Target="_blank" Typo="Typo.h6">View WhatsApp</MudLink>
                        </div>
                        <p>+63 9161452948</p>

                    </div>
                </div>
            </MudItem>
            <MudItem xs="12" sm="6" lg="3" md="6" Style="border-radius: 10px;">
                <div class="contact-card">
                    <div class="banner-gmail"></div>
                    <div class="contact-info">
                        @* <h3>John Doe</h3> *@
                        <div class="mt-4">
                            <MudLink Href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSGKnGfxbxVDpCxhtFWHfPHfvTPqJmWTrtxMmcHFvBthwHQwGKXBSzzVggMvzkNstFBQfBbc" Target="_blank" Typo="Typo.h6">Email Me</MudLink>
                        </div>
                        <p>leoganas.jr@gmail.com</p>
                    </div>
                </div>
            </MudItem>
        </MudGrid>
    </div>
</section>

<style>
    .contact-card {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 100%;
        text-align: center;
    }

    .banner {
        position: relative;
        height: 100px;
        background-color: #d5ebf7; /* LinkedIn blue color */
        background-image: url('/images/LinkedIn-Logo.wine.svg'); /* Path to image in wwwroot */
        background-size: cover; /* Ensure the image fits the circle */
        background-position: center; /* Center the image in the circle */
    }

        .banner::before {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
            background-color: white;
            background-image: url('/images/LinkedIn_logo.png'); /* Path to image in wwwroot */
            background-size: cover; /* Ensure the image fits the circle */
            background-position: center; /* Center the image in the circle */
            border-radius: 50%;
            border: 2px solid white;
        }

    .banner-upwork {
        position: relative;
        height: 100px;
        background-color: #d5ebf7; /* LinkedIn blue color */
        background-image: url('/images/upwork-blue.png'); /* Path to image in wwwroot */
        background-size: cover; /* Ensure the image fits the circle */
        background-position: center; /* Center the image in the circle */
    }

        .banner-upwork::before {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
            background-color: white;
            background-image: url('/images/upwork-rounded.svg'); /* Path to image in wwwroot */
            background-size: cover; /* Ensure the image fits the circle */
            background-position: center; /* Center the image in the circle */
            border-radius: 50%;
            border: 2px solid white;
        }

    .banner-whatsup {
        position: relative;
        height: 100px;
        background-color: #d5ebf7; /* LinkedIn blue color */
        background-image: url('/images/whatsapp-banner.png'); /* Path to image in wwwroot */
        background-size: cover; /* Ensure the image fits the circle */
        background-position: center; /* Center the image in the circle */
    }

        .banner-whatsup::before {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
            background-color: white;
            background-image: url('/images/whatsapp-icon.svg'); /* Path to image in wwwroot */
            background-size: cover; /* Ensure the image fits the circle */
            background-position: center; /* Center the image in the circle */
            border-radius: 50%;
            border: 2px solid white;
        }

    .banner-gmail {
        position: relative;
        height: 100px;
        background-color: #d5ebf7; /* LinkedIn blue color */
        background-image: url('/images/gmail-banner.png'); /* Path to image in wwwroot */
        background-size: cover; /* Ensure the image fits the circle */
        background-position: center; /* Center the image in the circle */
    }

        .banner-gmail::before {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
            background-color: white;
            background-image: url('/images/gmail-icon.png'); /* Path to image in wwwroot */
            background-size: cover; /* Ensure the image fits the circle */
            background-position: center; /* Center the image in the circle */
            border-radius: 50%;
            border: 2px solid #99a8b0;
        }
    .contact-info {
        padding: 20px;
    }

        .contact-info h3 {
            margin: 10px 0 5px;
            font-size: 20px;
            color: #333;
        }

        .contact-info p {
            margin: 0;
            color: #777;
        }
</style>